{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    <div class="form-group">
        <label><b>Book name - </b></label> {{ book_edit.name }} <br>
        <label><b>Book image - </b></label><br>
        <img src="{{ book_edit.image }}" width="150" height="200"><br>
        <label><b>Categories this book:</b></label><br>
        {% for cat in book_edit.category %}
            <label> {{ cat.name }} </label>
        {% endfor %}

        <br><b><h1>New Options</h1></b>

        {{ label }}
        {{ form_start(form, {'enctype': "multipart/form-data", 'method': 'put'}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.image) }}
        {{ form_row(form.category) }}
        <p><input type="checkbox" name="check" value="1">Clear array Categories of book and save your choice?</p>
        <br>For choice your categories use CTRL<br>
        <input type="submit" value="Создать" name="button1" formnovalidate>
        {{ form_end(form) }}
    </div>

    </div>
{% endblock %}